@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #02080f;
}
.stars-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(center ellipse, #061a33 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #061a33 0%, #000000 100%);
  background-size: 110%;
  background-position: 100% 100%;
  overflow: hidden;
}
.title-wrapper {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.title-wrapper .title {
  width: 31vw;
  position: absolute;
  text-align: justify;
  top: 34.2vh;
  left: 45vw;
  right: 15%;
  font-size: 5vw;
  line-height: 1.3;
  font-weight: normal;
  margin: 0;
  color: #fff;
  color: #030f1d;
  opacity: .8;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.title-wrapper .title:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(325deg, #fcf9ef 0%, rgba(252, 249, 239, 0.7) 30%, rgba(252, 249, 239, 0.01) 100%);
  background: linear-gradient(125deg, #fcf9ef 0%, rgba(252, 249, 239, 0.7) 30%, rgba(252, 249, 239, 0.01) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 100%;
  -webkit-background-clip: text;
  overflow: hidden;
  color: transparent;
}
.moon-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.moon {
  width: 14vw;
  height: 14vw;
  position: absolute;
  top: 33vh;
  left: 24vw;
  border-radius: 50%;
  background: #e7e1df url(https://www.dropbox.com/s/l1ef0fihcjnftvs/moon.png?dl=1) 50% 50% no-repeat;
  background-size: 102%;
  box-shadow: 0px 0px 80px 0px rgba(183, 176, 130, 0.6), 0px 0px 350px 0px rgba(222, 221, 215, 0.3);
}
.moon:after {
  content: "";
  display: block;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0px 0px 150px 0px rgba(183, 176, 130, 0.1), 0px 0px 340px 0px rgba(222, 221, 215, 0.1);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.stars-cluster {
  position: absolute;
  left: 3%;
  right: 3%;
  top: 3%;
  bottom: 3%;
}
.stars-cluster.stars-cluster-1 {
  left: 20%;
  right: 25%;
  top: 20%;
  bottom: 40%;
}
.stars-cluster.stars-cluster-1 .star-7,
.stars-cluster.stars-cluster-1 .star-22,
.stars-cluster.stars-cluster-1 .star-30 {
  -webkit-animation: shooting-star 10s ease-out 1s forwards;
          animation: shooting-star 10s ease-out 1s forwards;
}
.stars-cluster.stars-cluster-1 .star-22 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.stars-cluster.stars-cluster-1 .star-30 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.stars-cluster.stars-cluster-1 .star-20 {
  -webkit-animation: shooting-star-2 8s ease-out 5s forwards infinite;
          animation: shooting-star-2 8s ease-out 5s forwards infinite;
}
.stars-cluster.stars-cluster-2 .star-11,
.stars-cluster.stars-cluster-2 .star-16 {
  -webkit-animation: shooting-star 10s ease-out 8s forwards;
          animation: shooting-star 10s ease-out 8s forwards;
}
.stars-cluster.stars-cluster-2 .star-16 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.stars-cluster.stars-cluster-2 .star-7 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.stars-cluster.stars-cluster-2 .star-4 {
  -webkit-animation: shooting-star-2 11s ease-out 6s forwards infinite;
          animation: shooting-star-2 11s ease-out 6s forwards infinite;
}
.star {
  background-color: #f3f2d6;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-name: pulsate;
          animation-name: pulsate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}
/**
 * ----------------------------------------
 * star generator
 * ---------------------------------------
*/
.stars-cluster-1 .star-1 {
  width: 2px;
  height: 2px;
  opacity: 0.66934798;
  top: 31.37251511%;
  left: 95.91701787%;
  -webkit-animation-duration: 1.97319875s;
          animation-duration: 1.97319875s;
  -webkit-animation-delay: 0.81736993s;
          animation-delay: 0.81736993s;
}
.stars-cluster-1 .star-2 {
  width: 2px;
  height: 2px;
  opacity: 0.23111695;
  top: 18.30142504%;
  left: 67.01279017%;
  -webkit-animation-duration: 0.60102279s;
          animation-duration: 0.60102279s;
  -webkit-animation-delay: 0.5207801s;
          animation-delay: 0.5207801s;
}
.stars-cluster-1 .star-3 {
  width: 2px;
  height: 2px;
  opacity: 0.57089195;
  top: 53.66759526%;
  left: 48.90290534%;
  -webkit-animation-duration: 1.135317s;
          animation-duration: 1.135317s;
  -webkit-animation-delay: 0.4500181s;
          animation-delay: 0.4500181s;
}
.stars-cluster-1 .star-4 {
  width: 2px;
  height: 2px;
  opacity: 0.55763703;
  top: 93.0098936%;
  left: 56.64861838%;
  -webkit-animation-duration: 1.7532828s;
          animation-duration: 1.7532828s;
  -webkit-animation-delay: 0.33497341s;
          animation-delay: 0.33497341s;
}
.stars-cluster-1 .star-5 {
  width: 2px;
  height: 2px;
  opacity: 0.68349245;
  top: 98.16910408%;
  left: 18.90075086%;
  -webkit-animation-duration: 0.99609437s;
          animation-duration: 0.99609437s;
  -webkit-animation-delay: 0.23258051s;
          animation-delay: 0.23258051s;
}
.stars-cluster-1 .star-6 {
  width: 2px;
  height: 2px;
  opacity: 0.6910549;
  top: 61.20638545%;
  left: 49.23336958%;
  -webkit-animation-duration: 2.32629804s;
          animation-duration: 2.32629804s;
  -webkit-animation-delay: 0.67914116s;
          animation-delay: 0.67914116s;
}
.stars-cluster-1 .star-7 {
  width: 2px;
  height: 2px;
  opacity: 0.30950563;
  top: 26.64549672%;
  left: 13.50631434%;
  -webkit-animation-duration: 1.87021143s;
          animation-duration: 1.87021143s;
  -webkit-animation-delay: 0.73735929s;
          animation-delay: 0.73735929s;
}
.stars-cluster-1 .star-8 {
  width: 2px;
  height: 2px;
  opacity: 0.70766704;
  top: 26.04150577%;
  left: 32.41263386%;
  -webkit-animation-duration: 1.64605944s;
          animation-duration: 1.64605944s;
  -webkit-animation-delay: 0.61976619s;
          animation-delay: 0.61976619s;
}
.stars-cluster-1 .star-9 {
  width: 2px;
  height: 2px;
  opacity: 0.63442624;
  top: 82.81927148%;
  left: 84.9741525%;
  -webkit-animation-duration: 2.3925308s;
          animation-duration: 2.3925308s;
  -webkit-animation-delay: 0.75684945s;
          animation-delay: 0.75684945s;
}
.stars-cluster-1 .star-10 {
  width: 2px;
  height: 2px;
  opacity: 0.45789497;
  top: 37.03295817%;
  left: 73.97928501%;
  -webkit-animation-duration: 1.80961684s;
          animation-duration: 1.80961684s;
  -webkit-animation-delay: 0.09210287s;
          animation-delay: 0.09210287s;
}
.stars-cluster-1 .star-11 {
  width: 2px;
  height: 2px;
  opacity: 0.33086401;
  top: 26.53598671%;
  left: 72.11716869%;
  -webkit-animation-duration: 1.97848458s;
          animation-duration: 1.97848458s;
  -webkit-animation-delay: 0.12692556s;
          animation-delay: 0.12692556s;
}
.stars-cluster-1 .star-12 {
  width: 2px;
  height: 2px;
  opacity: 0.62598101;
  top: 78.37047777%;
  left: 56.2185847%;
  -webkit-animation-duration: 0.97262039s;
          animation-duration: 0.97262039s;
  -webkit-animation-delay: 0.26958668s;
          animation-delay: 0.26958668s;
}
.stars-cluster-1 .star-13 {
  width: 2px;
  height: 2px;
  opacity: 0.56116084;
  top: 55.75515362%;
  left: 33.3768199%;
  -webkit-animation-duration: 1.36044864s;
          animation-duration: 1.36044864s;
  -webkit-animation-delay: 0.87209578s;
          animation-delay: 0.87209578s;
}
.stars-cluster-1 .star-14 {
  width: 3px;
  height: 3px;
  opacity: 0.5574194;
  top: 66.00160594%;
  left: 77.36025075%;
  -webkit-animation-duration: 0.89147175s;
          animation-duration: 0.89147175s;
  -webkit-animation-delay: 0.6979931s;
          animation-delay: 0.6979931s;
}
.stars-cluster-1 .star-15 {
  width: 2px;
  height: 2px;
  opacity: 0.26627812;
  top: 7.10550642%;
  left: 32.85245718%;
  -webkit-animation-duration: 2.28243352s;
          animation-duration: 2.28243352s;
  -webkit-animation-delay: 0.12712499s;
          animation-delay: 0.12712499s;
}
.stars-cluster-1 .star-16 {
  width: 3px;
  height: 3px;
  opacity: 0.64872963;
  top: 75.56454525%;
  left: 88.54198286%;
  -webkit-animation-duration: 0.69011766s;
          animation-duration: 0.69011766s;
  -webkit-animation-delay: 0.04937574s;
          animation-delay: 0.04937574s;
}
.stars-cluster-1 .star-17 {
  width: 2px;
  height: 2px;
  opacity: 0.57743707;
  top: 26.55501578%;
  left: 8.78289656%;
  -webkit-animation-duration: 1.99829214s;
          animation-duration: 1.99829214s;
  -webkit-animation-delay: 0.83731882s;
          animation-delay: 0.83731882s;
}
.stars-cluster-1 .star-18 {
  width: 3px;
  height: 3px;
  opacity: 0.61718433;
  top: 80.14087572%;
  left: 64.52789374%;
  -webkit-animation-duration: 2.11952369s;
          animation-duration: 2.11952369s;
  -webkit-animation-delay: 0.4811131s;
          animation-delay: 0.4811131s;
}
.stars-cluster-1 .star-19 {
  width: 2px;
  height: 2px;
  opacity: 0.20189752;
  top: 98.95957254%;
  left: 32.62381188%;
  -webkit-animation-duration: 0.5415187s;
          animation-duration: 0.5415187s;
  -webkit-animation-delay: 0.99716626s;
          animation-delay: 0.99716626s;
}
.stars-cluster-1 .star-20 {
  width: 2px;
  height: 2px;
  opacity: 0.6380624;
  top: 34.19409967%;
  left: 76.87921457%;
  -webkit-animation-duration: 1.5215382s;
          animation-duration: 1.5215382s;
  -webkit-animation-delay: 0.79390474s;
          animation-delay: 0.79390474s;
}
.stars-cluster-1 .star-21 {
  width: 1px;
  height: 1px;
  opacity: 0.3007702;
  top: 43.14704451%;
  left: 2.92115246%;
  -webkit-animation-duration: 1.28135292s;
          animation-duration: 1.28135292s;
  -webkit-animation-delay: 0.35457377s;
          animation-delay: 0.35457377s;
}
.stars-cluster-1 .star-22 {
  width: 3px;
  height: 3px;
  opacity: 0.54505926;
  top: 41.0186806%;
  left: 11.37454866%;
  -webkit-animation-duration: 0.77709369s;
          animation-duration: 0.77709369s;
  -webkit-animation-delay: 0.24897149s;
          animation-delay: 0.24897149s;
}
.stars-cluster-1 .star-23 {
  width: 2px;
  height: 2px;
  opacity: 0.65611877;
  top: 18.04667525%;
  left: 60.69751668%;
  -webkit-animation-duration: 1.19288408s;
          animation-duration: 1.19288408s;
  -webkit-animation-delay: 0.99621502s;
          animation-delay: 0.99621502s;
}
.stars-cluster-1 .star-24 {
  width: 3px;
  height: 3px;
  opacity: 0.63684956;
  top: 90.46960422%;
  left: 94.33322803%;
  -webkit-animation-duration: 1.74334431s;
          animation-duration: 1.74334431s;
  -webkit-animation-delay: 0.12522858s;
          animation-delay: 0.12522858s;
}
.stars-cluster-1 .star-25 {
  width: 2px;
  height: 2px;
  opacity: 0.40477528;
  top: 73.71481613%;
  left: 36.63954262%;
  -webkit-animation-duration: 0.59609733s;
          animation-duration: 0.59609733s;
  -webkit-animation-delay: 0.70895592s;
          animation-delay: 0.70895592s;
}
.stars-cluster-1 .star-26 {
  width: 1px;
  height: 1px;
  opacity: 0.74390764;
  top: 75.35194994%;
  left: 89.43465399%;
  -webkit-animation-duration: 1.93696676s;
          animation-duration: 1.93696676s;
  -webkit-animation-delay: 0.99889867s;
          animation-delay: 0.99889867s;
}
.stars-cluster-1 .star-27 {
  width: 1px;
  height: 1px;
  opacity: 0.78355305;
  top: 74.54807919%;
  left: 50.13969142%;
  -webkit-animation-duration: 0.44639704s;
          animation-duration: 0.44639704s;
  -webkit-animation-delay: 0.53385523s;
          animation-delay: 0.53385523s;
}
.stars-cluster-1 .star-28 {
  width: 3px;
  height: 3px;
  opacity: 0.70489482;
  top: 89.51305794%;
  left: 98.88980547%;
  -webkit-animation-duration: 1.89818181s;
          animation-duration: 1.89818181s;
  -webkit-animation-delay: 0.95984058s;
          animation-delay: 0.95984058s;
}
.stars-cluster-1 .star-29 {
  width: 1px;
  height: 1px;
  opacity: 0.30117606;
  top: 63.52008753%;
  left: 72.92870583%;
  -webkit-animation-duration: 1.68987199s;
          animation-duration: 1.68987199s;
  -webkit-animation-delay: 0.63583031s;
          animation-delay: 0.63583031s;
}
.stars-cluster-1 .star-30 {
  width: 3px;
  height: 3px;
  opacity: 0.68777117;
  top: 68.95928287%;
  left: 40.39304524%;
  -webkit-animation-duration: 1.21941433s;
          animation-duration: 1.21941433s;
  -webkit-animation-delay: 0.30721298s;
          animation-delay: 0.30721298s;
}
.stars-cluster-1 .star-31 {
  width: 2px;
  height: 2px;
  opacity: 0.4644679;
  top: 69.07385811%;
  left: 65.42888875%;
  -webkit-animation-duration: 0.88232515s;
          animation-duration: 0.88232515s;
  -webkit-animation-delay: 0.43578462s;
          animation-delay: 0.43578462s;
}
.stars-cluster-1 .star-32 {
  width: 2px;
  height: 2px;
  opacity: 0.60571364;
  top: 20.06387312%;
  left: 46.75177205%;
  -webkit-animation-duration: 0.66465221s;
          animation-duration: 0.66465221s;
  -webkit-animation-delay: 0.53317268s;
          animation-delay: 0.53317268s;
}
.stars-cluster-1 .star-33 {
  width: 2px;
  height: 2px;
  opacity: 0.50420396;
  top: 62.51237523%;
  left: 7.87652612%;
  -webkit-animation-duration: 1.09556248s;
          animation-duration: 1.09556248s;
  -webkit-animation-delay: 0.74932262s;
          animation-delay: 0.74932262s;
}
.stars-cluster-1 .star-34 {
  width: 2px;
  height: 2px;
  opacity: 0.6279096;
  top: 87.55979198%;
  left: 57.0622226%;
  -webkit-animation-duration: 1.26362538s;
          animation-duration: 1.26362538s;
  -webkit-animation-delay: 0.06649586s;
          animation-delay: 0.06649586s;
}
.stars-cluster-1 .star-35 {
  width: 2px;
  height: 2px;
  opacity: 0.65988896;
  top: 60.97010786%;
  left: 56.30947705%;
  -webkit-animation-duration: 1.91623939s;
          animation-duration: 1.91623939s;
  -webkit-animation-delay: 0.72453001s;
          animation-delay: 0.72453001s;
}
.stars-cluster-1 .star-36 {
  width: 3px;
  height: 3px;
  opacity: 0.41348347;
  top: 25.45185105%;
  left: 21.28853695%;
  -webkit-animation-duration: 0.47270195s;
          animation-duration: 0.47270195s;
  -webkit-animation-delay: 0.21777388s;
          animation-delay: 0.21777388s;
}
.stars-cluster-1 .star-37 {
  width: 2px;
  height: 2px;
  opacity: 0.25466861;
  top: 49.39754449%;
  left: 44.29374158%;
  -webkit-animation-duration: 0.73666073s;
          animation-duration: 0.73666073s;
  -webkit-animation-delay: 0.92325511s;
          animation-delay: 0.92325511s;
}
.stars-cluster-1 .star-38 {
  width: 3px;
  height: 3px;
  opacity: 0.74429195;
  top: 5.0186177%;
  left: 18.93166918%;
  -webkit-animation-duration: 1.90835592s;
          animation-duration: 1.90835592s;
  -webkit-animation-delay: 0.10198632s;
          animation-delay: 0.10198632s;
}
.stars-cluster-1 .star-39 {
  width: 2px;
  height: 2px;
  opacity: 0.77204319;
  top: 96.00008007%;
  left: 95.17717781%;
  -webkit-animation-duration: 1.03801411s;
          animation-duration: 1.03801411s;
  -webkit-animation-delay: 0.75834372s;
          animation-delay: 0.75834372s;
}
.stars-cluster-1 .star-40 {
  width: 1px;
  height: 1px;
  opacity: 0.46087064;
  top: 26.53022786%;
  left: 43.30260758%;
  -webkit-animation-duration: 0.97460112s;
          animation-duration: 0.97460112s;
  -webkit-animation-delay: 0.79952309s;
          animation-delay: 0.79952309s;
}
.stars-cluster-2 .star-1 {
  width: 3px;
  height: 3px;
  opacity: 0.22196529;
  top: 95.39716137%;
  left: 63.04176801%;
  -webkit-animation-duration: 1.752831s;
          animation-duration: 1.752831s;
  -webkit-animation-delay: 0.17044326s;
          animation-delay: 0.17044326s;
}
.stars-cluster-2 .star-2 {
  width: 3px;
  height: 3px;
  opacity: 0.30495358;
  top: 71.35496337%;
  left: 14.3026839%;
  -webkit-animation-duration: 2.09635029s;
          animation-duration: 2.09635029s;
  -webkit-animation-delay: 0.36518339s;
          animation-delay: 0.36518339s;
}
.stars-cluster-2 .star-3 {
  width: 2px;
  height: 2px;
  opacity: 0.36839757;
  top: 22.55290668%;
  left: 53.71981319%;
  -webkit-animation-duration: 1.97970502s;
          animation-duration: 1.97970502s;
  -webkit-animation-delay: 0.94974183s;
          animation-delay: 0.94974183s;
}
.stars-cluster-2 .star-4 {
  width: 4px;
  height: 4px;
  opacity: 0.21423017;
  top: 59.50189221%;
  left: 3.36232332%;
  -webkit-animation-duration: 0.81152445s;
          animation-duration: 0.81152445s;
  -webkit-animation-delay: 0.3217102s;
          animation-delay: 0.3217102s;
}
.stars-cluster-2 .star-5 {
  width: 2px;
  height: 2px;
  opacity: 0.75908715;
  top: 23.92543943%;
  left: 24.19406942%;
  -webkit-animation-duration: 1.61957456s;
          animation-duration: 1.61957456s;
  -webkit-animation-delay: 0.71716627s;
          animation-delay: 0.71716627s;
}
.stars-cluster-2 .star-6 {
  width: 4px;
  height: 4px;
  opacity: 0.60793401;
  top: 5.32018081%;
  left: 9.98299862%;
  -webkit-animation-duration: 2.14274228s;
          animation-duration: 2.14274228s;
  -webkit-animation-delay: 0.58367319s;
          animation-delay: 0.58367319s;
}
.stars-cluster-2 .star-7 {
  width: 4px;
  height: 4px;
  opacity: 0.77780215;
  top: 58.88193476%;
  left: 74.45387202%;
  -webkit-animation-duration: 1.77816908s;
          animation-duration: 1.77816908s;
  -webkit-animation-delay: 0.62601691s;
          animation-delay: 0.62601691s;
}
.stars-cluster-2 .star-8 {
  width: 3px;
  height: 3px;
  opacity: 0.5354207;
  top: 35.4880271%;
  left: 37.27928656%;
  -webkit-animation-duration: 1.98900329s;
          animation-duration: 1.98900329s;
  -webkit-animation-delay: 0.94522801s;
          animation-delay: 0.94522801s;
}
.stars-cluster-2 .star-9 {
  width: 3px;
  height: 3px;
  opacity: 0.59573869;
  top: 11.02963472%;
  left: 96.50637929%;
  -webkit-animation-duration: 1.66950795s;
          animation-duration: 1.66950795s;
  -webkit-animation-delay: 0.58667991s;
          animation-delay: 0.58667991s;
}
.stars-cluster-2 .star-10 {
  width: 2px;
  height: 2px;
  opacity: 0.68770435;
  top: 26.49179841%;
  left: 21.9336149%;
  -webkit-animation-duration: 0.64232109s;
          animation-duration: 0.64232109s;
  -webkit-animation-delay: 0.78316037s;
          animation-delay: 0.78316037s;
}
.stars-cluster-2 .star-11 {
  width: 4px;
  height: 4px;
  opacity: 0.51322726;
  top: 75.44026752%;
  left: 68.00874136%;
  -webkit-animation-duration: 0.92422668s;
          animation-duration: 0.92422668s;
  -webkit-animation-delay: 0.87874211s;
          animation-delay: 0.87874211s;
}
.stars-cluster-2 .star-12 {
  width: 2px;
  height: 2px;
  opacity: 0.41948571;
  top: 17.66355557%;
  left: 65.16501629%;
  -webkit-animation-duration: 0.86785809s;
          animation-duration: 0.86785809s;
  -webkit-animation-delay: 0.3422737s;
          animation-delay: 0.3422737s;
}
.stars-cluster-2 .star-13 {
  width: 3px;
  height: 3px;
  opacity: 0.44845771;
  top: 52.53623878%;
  left: 38.13280617%;
  -webkit-animation-duration: 1.99682509s;
          animation-duration: 1.99682509s;
  -webkit-animation-delay: 0.04763588s;
          animation-delay: 0.04763588s;
}
.stars-cluster-2 .star-14 {
  width: 3px;
  height: 3px;
  opacity: 0.75657942;
  top: 7.76847156%;
  left: 26.29833785%;
  -webkit-animation-duration: 0.77093261s;
          animation-duration: 0.77093261s;
  -webkit-animation-delay: 0.89842052s;
          animation-delay: 0.89842052s;
}
.stars-cluster-2 .star-15 {
  width: 4px;
  height: 4px;
  opacity: 0.40020736;
  top: 51.74360974%;
  left: 23.1101569%;
  -webkit-animation-duration: 2.17195486s;
          animation-duration: 2.17195486s;
  -webkit-animation-delay: 0.75761285s;
          animation-delay: 0.75761285s;
}
.stars-cluster-2 .star-16 {
  width: 3px;
  height: 3px;
  opacity: 0.50556704;
  top: 56.14505629%;
  left: 26.858865%;
  -webkit-animation-duration: 1.37042334s;
          animation-duration: 1.37042334s;
  -webkit-animation-delay: 0.16870934s;
          animation-delay: 0.16870934s;
}
.stars-cluster-2 .star-17 {
  width: 4px;
  height: 4px;
  opacity: 0.68810933;
  top: 26.61416179%;
  left: 45.57110141%;
  -webkit-animation-duration: 1.63949266s;
          animation-duration: 1.63949266s;
  -webkit-animation-delay: 0.84876028s;
          animation-delay: 0.84876028s;
}
.stars-cluster-2 .star-18 {
  width: 3px;
  height: 3px;
  opacity: 0.73174078;
  top: 41.95001768%;
  left: 72.54350637%;
  -webkit-animation-duration: 1.22997083s;
          animation-duration: 1.22997083s;
  -webkit-animation-delay: 0.42755899s;
          animation-delay: 0.42755899s;
}
.stars-cluster-2 .star-19 {
  width: 3px;
  height: 3px;
  opacity: 0.39385043;
  top: 98.03618421%;
  left: 30.8833495%;
  -webkit-animation-duration: 0.4480385s;
          animation-duration: 0.4480385s;
  -webkit-animation-delay: 0.32748767s;
          animation-delay: 0.32748767s;
}
.stars-cluster-2 .star-20 {
  width: 3px;
  height: 3px;
  opacity: 0.40383167;
  top: 62.4505705%;
  left: 94.88580904%;
  -webkit-animation-duration: 2.34027649s;
          animation-duration: 2.34027649s;
  -webkit-animation-delay: 0.88043497s;
          animation-delay: 0.88043497s;
}
.stars-cluster-2 .star-21 {
  width: 4px;
  height: 4px;
  opacity: 0.61555129;
  top: 67.26561631%;
  left: 38.7988559%;
  -webkit-animation-duration: 1.35278994s;
          animation-duration: 1.35278994s;
  -webkit-animation-delay: 0.04182455s;
          animation-delay: 0.04182455s;
}
.stars-cluster-2 .star-22 {
  width: 2px;
  height: 2px;
  opacity: 0.37312057;
  top: 91.74982291%;
  left: 31.16906967%;
  -webkit-animation-duration: 1.11134197s;
          animation-duration: 1.11134197s;
  -webkit-animation-delay: 0.52387087s;
          animation-delay: 0.52387087s;
}
.stars-cluster-2 .star-23 {
  width: 3px;
  height: 3px;
  opacity: 0.56713618;
  top: 71.48852239%;
  left: 94.07750124%;
  -webkit-animation-duration: 0.97675869s;
          animation-duration: 0.97675869s;
  -webkit-animation-delay: 0.87699221s;
          animation-delay: 0.87699221s;
}
.stars-cluster-2 .star-24 {
  width: 3px;
  height: 3px;
  opacity: 0.3598344;
  top: 58.07823723%;
  left: 26.15707661%;
  -webkit-animation-duration: 0.86325357s;
          animation-duration: 0.86325357s;
  -webkit-animation-delay: 0.64315551s;
          animation-delay: 0.64315551s;
}
.stars-cluster-2 .star-25 {
  width: 3px;
  height: 3px;
  opacity: 0.60036225;
  top: 59.31551047%;
  left: 5.71461758%;
  -webkit-animation-duration: 2.14560598s;
          animation-duration: 2.14560598s;
  -webkit-animation-delay: 0.36295754s;
          animation-delay: 0.36295754s;
}
.stars-cluster-2 .star-26 {
  width: 4px;
  height: 4px;
  opacity: 0.48495634;
  top: 95.07620349%;
  left: 40.87711838%;
  -webkit-animation-duration: 1.30288416s;
          animation-duration: 1.30288416s;
  -webkit-animation-delay: 0.10091637s;
          animation-delay: 0.10091637s;
}
.stars-cluster-2 .star-27 {
  width: 2px;
  height: 2px;
  opacity: 0.51844604;
  top: 82.14476211%;
  left: 39.21340378%;
  -webkit-animation-duration: 0.64948039s;
          animation-duration: 0.64948039s;
  -webkit-animation-delay: 0.51848495s;
          animation-delay: 0.51848495s;
}
.stars-cluster-2 .star-28 {
  width: 3px;
  height: 3px;
  opacity: 0.32510435;
  top: 16.98883716%;
  left: 50.70508427%;
  -webkit-animation-duration: 0.7339289s;
          animation-duration: 0.7339289s;
  -webkit-animation-delay: 0.05608805s;
          animation-delay: 0.05608805s;
}
.stars-cluster-2 .star-29 {
  width: 2px;
  height: 2px;
  opacity: 0.32512831;
  top: 83.68395015%;
  left: 93.85177637%;
  -webkit-animation-duration: 1.3493209s;
          animation-duration: 1.3493209s;
  -webkit-animation-delay: 0.24585384s;
          animation-delay: 0.24585384s;
}
.stars-cluster-2 .star-30 {
  width: 4px;
  height: 4px;
  opacity: 0.26167922;
  top: 52.17275654%;
  left: 93.44435108%;
  -webkit-animation-duration: 1.58468862s;
          animation-duration: 1.58468862s;
  -webkit-animation-delay: 0.86606218s;
          animation-delay: 0.86606218s;
}
.stars-cluster-2 .star-31 {
  width: 4px;
  height: 4px;
  opacity: 0.47415704;
  top: 11.15048316%;
  left: 86.59678276%;
  -webkit-animation-duration: 1.46946893s;
          animation-duration: 1.46946893s;
  -webkit-animation-delay: 0.286887s;
          animation-delay: 0.286887s;
}
.stars-cluster-2 .star-32 {
  width: 3px;
  height: 3px;
  opacity: 0.35902384;
  top: 61.43226479%;
  left: 39.49017311%;
  -webkit-animation-duration: 1.93463819s;
          animation-duration: 1.93463819s;
  -webkit-animation-delay: 0.87814229s;
          animation-delay: 0.87814229s;
}
.stars-cluster-2 .star-33 {
  width: 3px;
  height: 3px;
  opacity: 0.30738513;
  top: 89.95660157%;
  left: 31.45453949%;
  -webkit-animation-duration: 0.77558241s;
          animation-duration: 0.77558241s;
  -webkit-animation-delay: 0.01525407s;
          animation-delay: 0.01525407s;
}
.stars-cluster-2 .star-34 {
  width: 3px;
  height: 3px;
  opacity: 0.22885242;
  top: 69.24354839%;
  left: 49.42922427%;
  -webkit-animation-duration: 0.63479462s;
          animation-duration: 0.63479462s;
  -webkit-animation-delay: 0.22357739s;
          animation-delay: 0.22357739s;
}
.stars-cluster-2 .star-35 {
  width: 4px;
  height: 4px;
  opacity: 0.60305168;
  top: 9.52252117%;
  left: 69.96247254%;
  -webkit-animation-duration: 1.18216736s;
          animation-duration: 1.18216736s;
  -webkit-animation-delay: 0.71250545s;
          animation-delay: 0.71250545s;
}
.stars-cluster-2 .star-36 {
  width: 3px;
  height: 3px;
  opacity: 0.30761277;
  top: 2.81890715%;
  left: 75.88691285%;
  -webkit-animation-duration: 1.29382917s;
          animation-duration: 1.29382917s;
  -webkit-animation-delay: 0.31813409s;
          animation-delay: 0.31813409s;
}
.stars-cluster-2 .star-37 {
  width: 4px;
  height: 4px;
  opacity: 0.70212267;
  top: 40.92551712%;
  left: 20.26409802%;
  -webkit-animation-duration: 2.3773826s;
          animation-duration: 2.3773826s;
  -webkit-animation-delay: 0.41923465s;
          animation-delay: 0.41923465s;
}
.stars-cluster-2 .star-38 {
  width: 3px;
  height: 3px;
  opacity: 0.43363102;
  top: 88.8003062%;
  left: 30.3552402%;
  -webkit-animation-duration: 1.40218619s;
          animation-duration: 1.40218619s;
  -webkit-animation-delay: 0.67201303s;
          animation-delay: 0.67201303s;
}
.stars-cluster-2 .star-39 {
  width: 3px;
  height: 3px;
  opacity: 0.66677342;
  top: 46.4872068%;
  left: 26.59206672%;
  -webkit-animation-duration: 2.33408454s;
          animation-duration: 2.33408454s;
  -webkit-animation-delay: 0.43730123s;
          animation-delay: 0.43730123s;
}
.stars-cluster-2 .star-40 {
  width: 4px;
  height: 4px;
  opacity: 0.53951946;
  top: 40.59682845%;
  left: 17.99327945%;
  -webkit-animation-duration: 1.01403539s;
          animation-duration: 1.01403539s;
  -webkit-animation-delay: 0.38758115s;
          animation-delay: 0.38758115s;
}
.stars-cluster-3 .star-1 {
  width: 4px;
  height: 4px;
  opacity: 0.23713917;
  top: 18.05161096%;
  left: 73.67061269%;
  -webkit-animation-duration: 1.19833351s;
          animation-duration: 1.19833351s;
  -webkit-animation-delay: 0.49945947s;
          animation-delay: 0.49945947s;
}
.stars-cluster-3 .star-2 {
  width: 2px;
  height: 2px;
  opacity: 0.6426617;
  top: 45.91747818%;
  left: 27.74818405%;
  -webkit-animation-duration: 0.84016342s;
          animation-duration: 0.84016342s;
  -webkit-animation-delay: 0.27500204s;
          animation-delay: 0.27500204s;
}
.stars-cluster-3 .star-3 {
  width: 5px;
  height: 5px;
  opacity: 0.40821864;
  top: 25.78373107%;
  left: 57.57378747%;
  -webkit-animation-duration: 2.28875342s;
          animation-duration: 2.28875342s;
  -webkit-animation-delay: 0.67936779s;
          animation-delay: 0.67936779s;
}
.stars-cluster-3 .star-4 {
  width: 2px;
  height: 2px;
  opacity: 0.50833329;
  top: 74.00261583%;
  left: 48.48796905%;
  -webkit-animation-duration: 0.73212161s;
          animation-duration: 0.73212161s;
  -webkit-animation-delay: 0.45993304s;
          animation-delay: 0.45993304s;
}
.stars-cluster-3 .star-5 {
  width: 3px;
  height: 3px;
  opacity: 0.72519511;
  top: 29.5232747%;
  left: 98.09336446%;
  -webkit-animation-duration: 0.47148977s;
          animation-duration: 0.47148977s;
  -webkit-animation-delay: 0.86075091s;
          animation-delay: 0.86075091s;
}
.stars-cluster-3 .star-6 {
  width: 4px;
  height: 4px;
  opacity: 0.78394673;
  top: 59.86198171%;
  left: 40.3741325%;
  -webkit-animation-duration: 0.75567957s;
          animation-duration: 0.75567957s;
  -webkit-animation-delay: 0.96814556s;
          animation-delay: 0.96814556s;
}
.stars-cluster-3 .star-7 {
  width: 5px;
  height: 5px;
  opacity: 0.21606783;
  top: 31.40584077%;
  left: 44.03400547%;
  -webkit-animation-duration: 0.86035925s;
          animation-duration: 0.86035925s;
  -webkit-animation-delay: 0.06530125s;
          animation-delay: 0.06530125s;
}
.stars-cluster-3 .star-8 {
  width: 2px;
  height: 2px;
  opacity: 0.75908798;
  top: 91.69941531%;
  left: 42.92309391%;
  -webkit-animation-duration: 2.3443242s;
          animation-duration: 2.3443242s;
  -webkit-animation-delay: 0.81910446s;
          animation-delay: 0.81910446s;
}
.stars-cluster-3 .star-9 {
  width: 3px;
  height: 3px;
  opacity: 0.66245359;
  top: 52.01310653%;
  left: 0.7730342%;
  -webkit-animation-duration: 0.76869984s;
          animation-duration: 0.76869984s;
  -webkit-animation-delay: 0.56695106s;
          animation-delay: 0.56695106s;
}
.stars-cluster-3 .star-10 {
  width: 4px;
  height: 4px;
  opacity: 0.41616666;
  top: 86.79894214%;
  left: 19.97625122%;
  -webkit-animation-duration: 1.09840617s;
          animation-duration: 1.09840617s;
  -webkit-animation-delay: 0.20165541s;
          animation-delay: 0.20165541s;
}
.stars-cluster-3 .star-11 {
  width: 3px;
  height: 3px;
  opacity: 0.28080546;
  top: 29.76954465%;
  left: 73.47658291%;
  -webkit-animation-duration: 0.72132842s;
          animation-duration: 0.72132842s;
  -webkit-animation-delay: 0.82590512s;
          animation-delay: 0.82590512s;
}
.stars-cluster-3 .star-12 {
  width: 4px;
  height: 4px;
  opacity: 0.2728028;
  top: 96.18085525%;
  left: 38.77423867%;
  -webkit-animation-duration: 1.70696422s;
          animation-duration: 1.70696422s;
  -webkit-animation-delay: 0.89111339s;
          animation-delay: 0.89111339s;
}
.stars-cluster-3 .star-13 {
  width: 2px;
  height: 2px;
  opacity: 0.24535634;
  top: 96.53205527%;
  left: 15.59405953%;
  -webkit-animation-duration: 0.84322183s;
          animation-duration: 0.84322183s;
  -webkit-animation-delay: 0.7052653s;
          animation-delay: 0.7052653s;
}
.stars-cluster-3 .star-14 {
  width: 3px;
  height: 3px;
  opacity: 0.37234273;
  top: 46.8923199%;
  left: 45.97657777%;
  -webkit-animation-duration: 0.41395221s;
          animation-duration: 0.41395221s;
  -webkit-animation-delay: 0.78396917s;
          animation-delay: 0.78396917s;
}
.stars-cluster-3 .star-15 {
  width: 3px;
  height: 3px;
  opacity: 0.54341239;
  top: 8.99478504%;
  left: 71.08923409%;
  -webkit-animation-duration: 1.42023672s;
          animation-duration: 1.42023672s;
  -webkit-animation-delay: 0.91904441s;
          animation-delay: 0.91904441s;
}
/**
 * ----------------------------------------
 * animation pulsate
 * ---------------------------------------
*/
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: .2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: .2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/**
 * ----------------------------------------
 * animation shooting-star
 * ---------------------------------------
*/
@-webkit-keyframes shooting-star {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translate(400px, 200px);
            transform: translate(400px, 200px);
    opacity: 0;
  }
}
@keyframes shooting-star {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translate(400px, 200px);
            transform: translate(400px, 200px);
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation shooting-star-2
 * ---------------------------------------
*/
@-webkit-keyframes shooting-star-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  10%,
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transform: translate(600px, 150px);
            transform: translate(600px, 150px);
    opacity: .3;
  }
}
@keyframes shooting-star-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  10%,
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transform: translate(600px, 150px);
            transform: translate(600px, 150px);
    opacity: .3;
  }
}
